<!-- Menú -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tomar foto</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
   </ion-buttons>  
  </ion-toolbar>   
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/camera_logo.png" alt="logo" class="logo">
    <ion-card-header>
      <ion-card-title>Muéstranos tu foto!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si quieres mostrarnos una foto como referencia<br>
      (como un producto, vestuario, etc)<br>
      ¡Nos la puedes mandar!<br>
      Activa la cámara con el botón de abajo.<br>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="captureImage()">
    Capturar Imagen
  </ion-button>

  <div *ngIf="capturedImage" class="image-container">
    <img [src]="capturedImage" alt="Imagen capturada" />
  </div>
</ion-content>