<!-- Menú -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ubicación</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
   </ion-buttons>  
  </ion-toolbar>   
</ion-header>
 

<ion-content>
  <ion-card>
    <img src="../../assets/img/camera_logo.png" alt="logo" class="logo">
    <ion-card-header>
      <ion-card-title>Visítanos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nos encontramos a pasos del metro Los Leones<br>
      Puedes ver el mapa haciendo clic abajo.<br>
      <br>
      Nuestro horario de atención:<br>
      Lunes a viernes: 10:00 a 18:00<br>
      Sábado: 11:00 a 16:00<br>
      Domingo: Cerrado<br>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="getLocationAndShowOnMap()">
    Mostrar Ubicación
  </ion-button>
  <iframe id="mapFrame" width="100%" height="400px" style="border:0;" allowfullscreen loading="lazy"></iframe>
</ion-content>