<ion-header>
  <ion-toolbar>
    <ion-title>Proyecto Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Ingresar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="input-item">
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="login-button">Ingresar</ion-button>
        <ion-button expand="block" class="registrarse-button">Registrarse</ion-button>
        <ion-text class="forgot-password" color="medium">
          <a href="#">Olvidé mi contraseña</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
