/* Estilos para la caja de login */
.login-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    /* Borré la imagen de fondo, pero dejo el código en caso de cambiar de opinión más adelante */
    /* background-image: url('../../assets/img/moon_bg.png'); /* Ruta de img */
    /* background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    /* background-position: center; /* Centra la imagen */
    /* background-repeat: no-repeat; /* Evita que la imagen se repita */
    /*background-attachment: fixed; /* Mantiene la imagen fija cuando se desplaza */
  }
  
  /* Estilo para el card de login */
  .login-card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  /* Espaciado de los campos de input */
  .input-item {
    margin-bottom: 20px;
  }
  

  /* Estilo para los botones */
  .login-button, .registrarse-button {
    margin-top: 10px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    --background: #494949; 
    --background-hover: #363636; 
  }
  
  /* Estilos texto  "Olvidé mi contraseña" */
  .forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  ion-header {
    --height: 56px;
    background: var(--ion-color-primary);
  }
  
  ion-toolbar {
    --background: var(--ion-color-primary);
  }
  
  ion-title {
    color: white;
    font-size: 24px;
  }
  /* Estilos para el logo */
  .logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 120px; /* Tamaño máximo */
    height: auto;
    animation: slidein 3s linear 1s infinite alternate;
}

/* Animación detalles */
@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Estilo para los items */
ion-item {
  --background: #f3f3f3; /* Fondo más claro */
  border-radius: 4px;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 15px;
  --padding-start: 8px;
  --inner-padding-end: 0;
  margin-bottom: 15px;
  color:rgb(78, 78, 78);
}

/* Estilo para el ion-label dentro de los items */
ion-label {
  font-weight: 600;
  color: #333;
}

/* Estilo para los inputs de Angular Material */
mat-form-field {
  width: 100%;
  margin-top: 8px;
}

.title-container {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #333; 
}

ion-card {
  background-color: white;
  border-radius: 4px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
}

ion-card-content {
  background: transparent;
  color: rgb(78, 78, 78);
  justify-content: center;
  text-justify: auto;
}

ion-card-header {
  text-align: center;
  color: rgb(78, 78, 78);
  justify-content: center;
}

ion-card-title {
  color: rgb(78, 78, 78);
  justify-content: center;
  text-justify: auto;
}
ion-content { /* Recordatorio para mí que aquí son los cambios que buscaba hacer hace un rato */
  --background: rgb(243, 243, 243); /* Define el fondo del contenido */
  text-align: center;
}

    


  