/* Contenedor principal */
.portafolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
  }
  
  /* Contenedor del logo */
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .logo {
    width: 120px;
    height: auto;
    animation: zoomIn 3s ease-in-out infinite alternate;
  }
  
  /* Animación del logo */
  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.5);
    }
  }
  
  /* Contenedor del título */
  .title-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

/* Contenedor de imágenes estilo masonry */
.images-container {
    column-count: 2; /* Número de columnas en el diseño masonry */
    column-gap: 5px; /* Espacio entre columnas */
    width: 100%;
    row-gap: 5px;
  }
  
  /* Estilos para las imágenes */
  .portafolio-img {
    width: 100%;
    margin-bottom: 10px; /* Espacio entre las imágenes */
    break-inside: avoid; /* Evita el corte de imágenes entre columnas */
  }
