<!-- Menú -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
   </ion-buttons>  
  </ion-toolbar>   
</ion-header>

<!-- Logo -->
<ion-header>
  <div class="logo-container">
    <img src="../../assets/img/camera_logo.png" alt="logo" class="logo">
  </div>
</ion-header>

<ion-content>
  <div class="portafolio-container">
    <!-- Contenedor de las imágenes -->
    <div class="images-container">
      <div class="foto-container">
        <img src="../../assets/img/portafolio/eventos1.jpg" alt="eventos1" class="portafolio-img">
      </div>
      <div class="foto-container">
        <img src="../../assets/img/portafolio/eventos2.jpg" alt="eventos2" class="portafolio-img">
      </div>
      <div class="foto-container">
        <img src="../../assets/img/portafolio/cosplay1.jpg" alt="cosplay1" class="portafolio-img">
      </div>
      <div class="foto-container">
        <img src="../../assets/img/portafolio/cosplay2.jpg" alt="cosplay2" class="portafolio-img">
      </div>
      <div class="foto-container">
        <img src="../../assets/img/portafolio/retrato1.jpg" alt="retrato1" class="portafolio-img">
      </div>
      <div class="foto-container">
        <img src="../../assets/img/portafolio/retrato2.jpg" alt="retrato2" class="portafolio-img">
      </div>
    </div>
  </div>
</ion-content>
