<ion-header>
  <div class="logo-container">
    <img src="../../assets/img/camera_logo.png" alt="logo" class="logo">
  </div>
  <div class="title-container">
    <ion-title>Portafolio</ion-title>
  </div>
</ion-header>

<ion-card>
  <img src="../../assets/img/portafolio/cosplay1.jpg" alt="Retrato individual">
  <ion-card-header>Retrato individual</ion-card-header>
  <ion-card-content>
    Retratos para una persona al aire libre.<br>
    <strong>$9.990</strong>
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/img/portafolio/grupal.jpg" alt="Retrato dúo o grupal">
  <ion-card-header>Retrato dúo o grupal</ion-card-header>
  <ion-card-content>
    Retratos para dos o más persoas al aire libre.<br>
    <strong>$7.990</strong> por persona
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/img/portafolio/eventos1.jpg" alt="Eventos">
  <ion-card-header>Eventos</ion-card-header>
  <ion-card-content>
    Registro fotográfico de eventos.<br>
    <strong>$15.000</strong> por hora
  </ion-card-content>
</ion-card>