
<ion-content>
  <div class="home-container">
    <!-- Imagen logo -->
    <div class="logo-container">
      <img src="../../assets/img/camera_logo.png" alt="logo" class="logo">
    </div>
    <div class="menu-container">
      <img src="../../assets/img/portafolio.jpg" alt="portafolio" class="menu-img">
    </div>
    <div class="menu-container">
       <img src="../../assets/img/servicios.jpg" alt="servicios" class="menu-img">
    </div>
    <div class="menu-container">
      <img src="../../assets/img/agendar.jpg" alt="agendar" class="menu-img"> 
    </div>
    <div class="menu-container">
      <img src="../../assets/img/login.jpg" alt="login" class="menu-img">
    </div>
    <div class="menu-container">
      <img src="../../assets/img/condiciones.jpg" alt="condiciones" class="menu-img">
    </div>
  </div>
</ion-content>
