
<!-- Imagen de usuario y mensaje de bienvenida -->
<!--div class="user-info">
  <h2><strong>{{ bienvenidos }}</strong><br/> {{ nombre }} {{apellido}}<br/> {{ email }}</h2>
</div> -->

<ion-content>
  <div class="home-container">
    <!-- Imagen logo -->
    <div class="logo-container">
      <img src="../../assets/img/camera_logo.png" alt="logo" class="logo">
    </div>
    <div class="menu-container">
      <ion-button fill="clear" (click)="goToPortafolio()">
        <img src="../../assets/img/portafolio.jpg" alt="portafolio" class="menu-img">
      </ion-button>
    </div>
    
    <div class="menu-container">
      <ion-button fill="clear" (click)="goToServicios()">
        <img src="../../assets/img/servicios.jpg" alt="servicios" class="menu-img">
      </ion-button>
    </div>
    