
/* Estilos para la caja de home */
.home-container {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: white;
}
/* Estilos para el logo */
.logo-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 120px; /* Tamaño máximo */
  height: auto;
  animation: slidein 3s linear 1s infinite alternate;
}

/* Animación detalles */
@keyframes slidein {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.menu-container {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.menu-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}
  
/* Contenedor del título */
.title-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

