

<ion-content [fullscreen]="true">
  <ion-card class="registro-card">
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <!-- Campo de fecha con Angular Material -->
      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>dd/mm/yyyy</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      
    </ion-card-content>

    <!-- Botón guardar-->
    <ion-button (click)="guardar()" expand="block" fill="clear">Guardar datos</ion-button>
     
  </ion-card>
</ion-content>

